.git
.github
.cursor
.idea
.vscode
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
tests
coverage
.phpunit.result.cache
npm-debug.log
*.md
!product-overview.md
docs
